/* .booking{
    width: 100%;
    height: 85vh;
    margin-top: -3px; */
    /* background-image: url('./../../../src/images/booking.jpg'); */
    /* background-image: url('book.jfif'); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: 7% 93%;
} */
.booking img{
    width: 100%;
    height: 85vh;

}
@media screen and (max-width: 540px) {
    .booking img{
        height: 60vh;
        width: 130%;

    }
}
@media screen and (max-width: 740px) {
    .booking img{
        height: 70vh;
        width: 105%;

    }
}