.shadowDiv{
    width: 80%;
    background-color: #f2e9ff;
    margin: 30px auto;
    
    text-align: center;

}
.findDrive{
    font-family: 'boldFont';
    margin-top: 10px;
    font-size: 90px;
    color: #121214;
    text-align: center;
    font-weight: bolder;

}
@media screen and (max-width: 690px) {
    .findDrive{
        font-size: 70px;
    }
}
@media screen and (max-width: 540px) {
    .findDrive{
        font-size: 60px;
    }
}
@media screen and (max-width: 440px) {
    .findDrive{
        font-size: 50px;
    }
}
.shadowHeading{
    font-size: 28px;
    font-weight: 700;
    position: relative;
    color: #121214;
    top: -20px;
}


